.productos {
  display: flex;
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;
}

.imagenProd {
  width: 100%;
}

.imagenProd img {
  width: 100%;
  height: 300px;
  transition: 0.3s;
}

.imagenProd img:hover {
  filter: brightness(70%);
}

.imageFit {
  width: 25%;
  padding-left: 5px;
  padding-right: 5px;
}

.prodTitle {
  color: black;
  background-color: #c7a667;
  margin-top: 5px;
  text-align: center;
  padding: 10px 0;
  font-family: "jost";
  font-weight: 600;
  transition: 0.3s;
}

.prodTitle:hover {
  filter: brightness(70%);
}

.prodTitle a {
  text-decoration: none;
  color: black;
  background-color: #c7a667;
  margin-top: 5px;
  text-align: center;
  padding: 10px 0;
  font-family: "jost";
  font-weight: 600;
}
