.test {
  position: relative;
  z-index: 1;
  color: black;
  width: 100%;
  height: 600px;
  padding-top: 160px;
  background-image: url("../../images/cocina.jpg"),
    linear-gradient(180deg, rgba(255, 255, 255, 0.73) 10%, rgba(0, 0, 0, 0) 70%);
  background-repeat: no-repeat;
  background-size: 100% 600px;
  background-blend-mode: overlay;
}

.test h1 {
  /*font-family: "Roboto Serif", sans-serif;*/
  font-family: "Raleway";
  font-weight: 600;
  font-size: 45px;
  text-align: center;
  border: black;
  border: solid;
  border-width: 2px;
  width: 420px;
  margin: auto;
  margin-bottom: 20px;
  top: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
  letter-spacing: 3px;
}

.Shop {
  border: black;
  border-style: solid;
  border-width: 1px;
  width: 250px;
  margin: auto;
  font-weight: 400;
  text-align: center;
  font-family: "Roboto Serif", sans-serif;
}

.test a {
  text-decoration: none;
  color: black;
}

.Shop:hover,
.Shop:visited,
.Shop:focus,
.Shop:active {
  border: #c7a667;
  border-style: solid;
  border-width: 1px;
  color: #c7a667;
  transition: 0.3s;
}
